# Надыршина А.А. РТ5-61Б Вариант 15

## Методы: Дерево решений, Градиентный бустинг

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style="ticks")

In [81]:
data = pd.read_csv('states_all_extended.csv')

In [82]:
data = data.drop_duplicates()

In [83]:
data.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,G08_HI_A_READING,G08_HI_A_MATHEMATICS,G08_AS_A_READING,G08_AS_A_MATHEMATICS,G08_AM_A_READING,G08_AM_A_MATHEMATICS,G08_HP_A_READING,G08_HP_A_MATHEMATICS,G08_TR_A_READING,G08_TR_A_MATHEMATICS
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
reading_cols = [col for col in data.columns if "READING" in col]
mathematics_cols = [col for col in data.columns if "MATHEMATICS" in col]

# Создание новых столбцов для экзаменов
data = pd.concat([data, data[reading_cols].mean(axis=1).rename("READING")], axis=1)
data = pd.concat([data, data[mathematics_cols].mean(axis=1).rename("MATHEMATICS")], axis=1)

# Удаление старых столбцов
data = data.drop(columns=reading_cols + mathematics_cols)

In [85]:
cols_to_drop = [col for col in data.columns if '_F' in col or '_M' in col or '_A' in col]
data = data.drop(columns=cols_to_drop)

In [86]:
print(data.columns)

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'READING', 'MATHEMATICS'],
      dtype='object')

In [87]:
data = data.dropna(subset=["READING", "MATHEMATICS"])

In [88]:
data["Score"] = data[["READING", "MATHEMATICS"]].mean(axis=1)

# Удалите столбцы "READING" и "MATHEMATICS"
data = data.drop(columns=["READING", "MATHEMATICS"])

In [89]:
del data["PRIMARY_KEY"]

In [90]:
data.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,Score
0,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,NaN,174053.0,218.666667
2,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,NaN,609114.0,224.833333
3,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,NaN,145212.0,222.166667
4,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,NaN,2044688.0,218.500000
5,COLORADO,1992,NaN,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,1035970.0,NaN,364760.0,231.666667

In [91]:
data = pd.get_dummies(data)

In [92]:
data = data.fillna(data.mean())

In [93]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numerical_features = data.select_dtypes(include=['float64', 'int64']).columns
data[numerical_features] = scaler.fit_transform(data[numerical_features])

In [94]:
data.head()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,STATE_SOUTH_DAKOTA,STATE_TENNESSEE,STATE_TEXAS,STATE_UTAH,STATE_VERMONT,STATE_VIRGINIA,STATE_WASHINGTON,STATE_WEST_VIRGINIA,STATE_WISCONSIN,STATE_WYOMING
0,-2.416395,0.0,-0.681416,-0.551875,-0.588291,-0.748832,-0.679909,-0.652362,-0.725878,0.0,...,False,False,False,False,False,False,False,False,False,False
2,-2.416395,0.0,-0.630986,-0.557258,-0.642056,-0.585772,-0.616035,-0.659809,-0.642520,0.0,...,False,False,False,False,False,False,False,False,False,False
3,-2.416395,0.0,-0.765606,-0.659402,-0.718467,-0.775132,-0.757705,-0.736498,-0.802773,0.0,...,False,False,False,False,False,False,False,False,False,False
4,-2.416395,0.0,1.371783,0.961911,2.179311,0.542191,1.411551,1.441717,1.654143,0.0,...,False,False,False,False,False,False,False,False,False,False
5,-2.416395,0.0,-0.637334,-0.672516,-0.653550,-0.562738,-0.627716,-0.626219,-0.633888,0.0,...,False,False,False,False,False,False,False,False,False,False

In [95]:
from sklearn.model_selection import train_test_split

X = data.drop('Score', axis=1)
y = data['Score']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Дерево решений

In [96]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
model = DecisionTreeRegressor(random_state=3)
model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=3)

In [97]:
y_pred = model.predict(X_test)

In [98]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [99]:
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R² Score: {r2}")

Mean Absolute Error (MAE): 0.41815632023750365
Mean Squared Error (MSE): 0.33759722910334994
R² Score: 0.7261790840032818

## Градиентный бустинг

In [100]:
from sklearn.ensemble import GradientBoostingRegressor

In [101]:
gradient_boosting_regressor= GradientBoostingRegressor()
gradient_boosting_regressor.fit(X_train, y_train)

GradientBoostingRegressor()

In [102]:
y_grad_pred = gradient_boosting_regressor.predict(X_test)

In [103]:
mae = mean_absolute_error(y_test, y_grad_pred)
mse = mean_squared_error(y_test, y_grad_pred)
r2 = r2_score(y_test, y_grad_pred)

In [104]:
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R² Score: {r2}")

Mean Absolute Error (MAE): 0.351240026952597
Mean Squared Error (MSE): 0.19583695455841002
R² Score: 0.8411590805243983

#### Метод градиентного бустинга показывает лучший результат по всем метрикам